.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--body-color); /* Gradient background */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem; /* Added padding for a more spacious look */
    transition: padding 0.3s;
}

.nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s, letter-spacing 0.3s;
}

.nav__logo:hover {
    color: var(--title-color-dark); /* Color change on hover */
    transform: scale(1.0); /* Slight scaling effect */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    letter-spacing: 1px; /* Slight letter-spacing effect */
}

.nav__list {
    display: flex;
    column-gap: 2rem;
    transition: column-gap 0.3s;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    padding-top: 0.7rem;
    font-weight: var(--font-medium);
    position: relative;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

.nav__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background-color: var(--title-color-dark);
    transition: width 0.3s, left 0.3s;
}

.nav__link:hover::after {
    width: 100%;
    left: 0;
}

.nav__link:hover {
    color: var(--title-color-dark);
    transform: scale(1.1);
}

.nav__icons, .nav__close, .nav__toggle {
    display: none;
}

.active-link {
    color: var(--title-color-dark);
    font-weight: bold;
}

.active-link::after {
    width: 100%;
    left: 0;
}

.scroll-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05); /* Slightly darker background on scroll */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
        background: var(--body-color); /* Different gradient for mobile */
        padding: 0.5rem 1rem;
    }

    .nav {
        height: var(--header-height);
        padding: 0 1rem;
    }

    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.95); /* Slightly transparent background */
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: bottom 0.5s ease-in-out; /* Smooth transition */
    }

    .show-menu {
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        transition: gap 0.3s;
    }

    .nav__icons {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        bottom: 0.5rem;
        right: 1.3rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav__close:hover {
        color: var(--title-color-dark);
    }

    .nav__toggle {
        font-size: 1.3rem;
        cursor: pointer;
        color: var(--title-color);
        transition: color 0.3s;
    }

    .nav__icons, .nav__close, .nav__toggle {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}